.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
  border-bottom-width: 1px;
  border-bottom-color: #bababa;
  border-bottom-style: solid;
}

.header {
  color: #bababa;
}

.profile__user-profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.profile__content-list {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: black;
}

.profile__content {
  display: flex;
  padding-top: 32px;
}

.profile__content-left {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  border-right-width: 1px;
  border-right-color: #bababa;
  border-right-style: solid;
  align-items: center;
}

.profile__content-left h2 {
  align-self: center;
}

hr {
  width: 216px;
  text-align: center;
  margin: 16px 0;
}

.profile__pic {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  align-self: center;
}

.profile__content-right {
  flex-basis: 60%;
  padding-left: 40px;
}

table tbody tr td:first-child {
  text-align: right;
  color: #bababa;
}

table tbody tr td:nth-child(2) {
  overflow-x: hidden;
  font-weight: 600;
  font-size: 20px;
  color: #5d5d5d;
}

.map-container {
  padding-top: 20px;
}
